footer.footer
	.footer__wrapper
		ul.links-list
			li.links-list__item
				a.links-list__link(href="")
			li.links-list__item
				a.links-list__link(href="")
			li.links-list__item
				a.links-list__link(href="")
			li.links-list__item
				a.links-list__link(href="")
			li.links-list__item
				a.links-list__link(href="")
		a.link-phone(href="")
		.social
			a(href="#")
				span.visually-hidden фейсбук
				+svg('0 0 75 75', 75, 75, 'facebook')
			a(href="#")
				span.visually-hidden ютуб
				+svg('0 0 75 75', 75, 75, 'youtube')
			a(href="#")
				span.visually-hidden вконтакте
				+svg('0 0 75 75', 75, 75, 'vkontakte')
			a(href="#")
				span.visually-hidden инстаграм
				+svg('0 0 75 75', 75, 75, 'instagram')
