nav.navigation.no-js
	button(type="button" class="button-menu" id="btn-menu")
		span.visually-hidden Закрыть кнопку
	.navigation__wrapper
		ul.navigation__list
			li.navigation__list-item
				a.navigation__list-link.base-text(href="#aboutUs") О нас
			li.navigation__list-item
				a.navigation__list-link.base-text(href="#calendar") Календарь
			li.navigation__list-item
				a.navigation__list-link.base-text(href="#news") Новости
			li.navigation__list-item
				a.navigation__list-link.base-text(href="#contacts") Контакты
