section.section.contacts-section#contacts
	h2.secondary-title.contacts-section__title Контакты
	.map
		div(style="position:relative;overflow:hidden;")
			a(href="https://yandex.ru/maps/10884/pushkin/search/%D0%B2%D0%B8%D0%B7%D1%80/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;") визр в Пушкине
			a(href="https://yandex.ru/maps/10884/pushkin/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;") Пушкин
			iframe(src="https://yandex.ru/map-widget/v1/?ll=30.427984%2C59.736612&mode=search&sll=28.332458%2C57.819276&sspn=0.493011%2C0.148576&text=%D0%B2%D0%B8%D0%B7%D1%80&z=16" width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;")
