.swiper.swiper-main
	.swiper-wrapper.no-view
		.swiper-slide
			+picture('img/content/sliderMain/slider-1', 'jpg', 'сельское хозяйство')
			.swiper-lazy-preloader
		.swiper-slide
			+picture('img/content/sliderMain/slider-2', 'jpg', 'сельское хозяйство')
			.swiper-lazy-preloader
		.swiper-slide
			+picture('img/content/sliderMain/slider-2', 'jpg', 'сельское хозяйство')
			.swiper-lazy-preloader
	.swiper-pagination
	//- .swiper-button-prev
	//- .swiper-button-next
	//- .swiper-scrollbar
