section.section.reviews-section
	h2.secondary-title.reviews-section__title Отзывы
	.reviews-section__wrapper
		.reviews-section__reviews.reviews
			.reviews__programme
				.reviews__video
					+video('video/reviews/review-1-A', autoplay, loop=true, muted)
				h3.reviews__title Новикова Анна
					br
					span.reviews__subtitle Селекционер по травам
				.reviews__inner
					p.reviews__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.reviews__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				a.link.reviews__link(href="teacher-0.html") Записаться
					span.visually-hidden Перейти на программу номер 0

			.reviews__programme.image2
				.reviews__video
					+video('video/reviews/review-2-A', autoplay, loop=true, muted)
				h3.reviews__title Поликова Валерия
					br
					span.reviews__subtitle Сажает картошку с закрытыми глазами
				.reviews__inner
					p.reviews__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.reviews__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				a.link.reviews__link(href="teacher-0.html") Записаться
					span.visually-hidden Перейти на программу номер 0

			.reviews__programme.image3
				.reviews__video
					+video('video/reviews/review-3-A', autoplay, loop=true, muted)
				h3.reviews__title Запорожский Игорь
					br
					span.reviews__subtitle Троеборец по сорнякам, дважды чемпион в тяжелом весе с борщевиком
				.reviews__inner
					p.reviews__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.reviews__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				a.link.reviews__link(href="teacher-0.html") Записаться
					span.visually-hidden Перейти на программу номер 0

			.reviews__programme.image3
				.reviews__video
					+video('video/reviews/review-4-A', autoplay, loop=true, muted)
				h3.reviews__title Монтасер Юсеф
					br
					span.reviews__subtitle Обожает черешню, любит природу
				.reviews__inner
					p.reviews__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.reviews__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				a.link.reviews__link(href="teacher-0.html") Записаться
					span.visually-hidden Перейти на программу номер 0
