section.section.teachers-section#teachers
	h2.secondary-title.teachers-section__title Преподаватели
	.teachers-section__wrapper
		.teachers-section__teachers.teachers
			.teachers__programme
				.teachers__image
					+picture('img/content/teachers/teacher-1', 'jpg', 'teachers')
				h3.teachers__title Новикова Анна
					br
					span.teachers__subtitle Селекционер по травам
				.teachers__inner
					p.teachers__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.teachers__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				a.link.teachers__link(href="teacher-0.html") Подробнее
					span.visually-hidden Перейти на программу номер 0

			.teachers__programme.image2
				.teachers__image
					+picture('img/content/teachers/teacher-2', 'jpg', 'teachers')
				h3.teachers__title Поликова Валерия
					br
					span.teachers__subtitle Сажает картошку с закрытыми глазами
				.teachers__inner
					p.teachers__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.teachers__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				a.link.teachers__link(href="teacher-0.html") Подробнее
					span.visually-hidden Перейти на программу номер 0

			.teachers__programme.image3
				.teachers__image
					+picture('img/content/teachers/teacher-3', 'jpg', 'teachers')
				h3.teachers__title Запорожский Игорь
					br
					span.teachers__subtitle Троеборец по сорнякам, дважды чемпион в тяжелом весе с борщевиком
				.teachers__inner
					p.teachers__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.teachers__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				a.link.teachers__link(href="teacher-0.html") Подробнее
					span.visually-hidden Перейти на программу номер 0

			.teachers__programme.image3
				.teachers__image
					+picture('img/content/teachers/teacher-4', 'jpg', 'teachers')
				h3.teachers__title Монтасер Юсеф
					br
					span.teachers__subtitle Обожает черешню, любит природу
				.teachers__inner
					p.teachers__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.teachers__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				a.link.teachers__link(href="teacher-0.html") Подробнее
					span.visually-hidden Перейти на программу номер 0
			.teachers__programme.image3
				.teachers__image
					+picture('img/content/teachers/teacher-5', 'jpg', 'teachers')
				h3.teachers__title Медичи Рюзанна
					br
					span.teachers__subtitle Пришла за компанию, поднимает всем настроение
				.teachers__inner
					p.teachers__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.teachers__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				a.link.teachers__link(href="teacher-0.html") Подробнее
					span.visually-hidden Перейти на программу номер 0
			.teachers__programme.image3
				.teachers__image
					+picture('img/content/teachers/teacher-6', 'jpg', 'teachers')
				h3.teachers__title Уилл Смит
					br
					span.teachers__subtitle Лишился памяти, с тех пор стал фотографом ландшатов и растений
				.teachers__inner
					p.teachers__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.teachers__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				a.link.teachers__link(href="teacher-0.html") Подробнее
					span.visually-hidden Перейти на программу номер 0
